.env

# Python files
__pycache__/
.pytest_cache/
.venv/

# Test coverage
.coverage
htmlcov/

# Node files
node_modules/

# App files
*.db
temp/
messages/
*.log
tmp.wav


# Website files
.parcel-cache/
dist/
coverage/

rust/target