@import 'reset.scss';
@import 'table.scss';
@import 'react-h5-audio-player/src/styles.scss';

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope[wght].woff2') format('woff2-variations');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

:root {
  --font-size-sm: clamp(0.6rem, 0.27vw + 0.53rem, 0.75rem);
  --font-size-base: clamp(0.75rem, 0.45vw + 0.64rem, 1rem);
  --font-size-md: clamp(0.94rem, 0.72vw + 0.76rem, 1.33rem);
  --font-size-lg: clamp(1.17rem, 1.1vw + 0.9rem, 1.78rem);
  --font-size-xl: clamp(1.46rem, 1.64vw + 1.05rem, 2.37rem);
  --font-size-xxl: clamp(1.83rem, 2.41vw + 1.23rem, 3.16rem);
  --font-size-xxxl: clamp(2.29rem, 3.49vw + 1.42rem, 4.21rem);
}

body {
  font-size: var(--font-size-base);
  font-family: 'Manrope', sans-serif;
}

img {
  max-width: 100%;
}

#app > header {
  background-color: #277bc0;
  color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;

    &.active {
      color: #fff4cf;
    }

    &:hover {
      color: #ffcb42;
    }
  }

  h1 {
    font-size: var(--font-size-lg);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

main {
  padding: 0.5em;
}

@media screen and (min-width: 1024px) {
  main {
    padding: 1em;
  }
}

.stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media screen and (min-width: 1024px) {
  .stats {
    grid-template-columns: 1fr 1fr;
  }
}

.info-block {
  display: flex;
  flex-direction: column;
  border: 4px solid #ffcb42;
  background-color: #fff4cf;
  border-radius: 8px;
  padding: 1em;
  align-items: center;

  &[href]:hover {
    background-color: #ffcb42;
  }

  .value {
    font-size: var(--font-size-xxl);
  }

  .label {
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    opacity: 0.5;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.message__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffcb42;

  a {
    padding: 0.5em;

    &:hover {
      background: #fff4cf;
    }
  }
}
