table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ffcb42;
  padding: 0.25em 0.5em;
}

th {
  text-align: left;
  background-color: #ffcb42;
  border-top-color: #ffcb42;
  border-left-color: #fff;
  border-right-color: #fff;

  &:first-child {
    border-left-color: #ffcb42;
  }

  &:last-child {
    border-right-color: #ffcb42;
  }
}

td a.block-link {
  display: block;
}

.skeleton {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
  background-color: #1e2226 !important;
  opacity: 0.1;
  color: transparent !important;
  border-color: #1e2226 !important;
  user-select: none;
  cursor: default;
}
